@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    transition: all 0.2s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

box-icon {
    vertical-align: middle;
}

a {
    color: lightcyan;
}

a:visited {
    color: lightskyblue;
}

.bg-div {
    background-color: #00000051;
    border-radius: 12px;
}

.app {
    padding: 32px;
    position: absolute;
    width: 85vw;
    height: 85vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 18px;
}

.profile {
    padding: 12px;
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
}

.profile img.pfp {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    border: 4px white solid;
}

.description {
    margin-left: 16px;
    font-size: 18px;
}

.name {
    font-size: 64px;
}

.emote {
    vertical-align: middle;
}

.commissions {
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding: 12px;
    text-align: center;
}

.projects {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
}

.projectlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

.projects .divider {
    width: 85%;
    height: 2px;
    margin: 0 auto;
    background-color: white;
    color: white;
    border-radius: 16px;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.project {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 6px;
}

#theme-switch {
    margin: 18px 16px;
    background-color: #00000051;
    border-radius: 100%;
    cursor: pointer;
}

/* themes */

/* light */

body.light-theme span,
body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme h4,
body.light-theme p {
    color: black;
}

body.light-theme .bg-div {
    background-color: #00000051;
}

body.light-theme {
    color: black;
    background-color: azure;
}

/* dark */

body.dark-theme span,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme p {
    color: white;
}

body.dark-theme .bg-div {
    background-color: #ffffff21;
}

body.dark-theme {
    background-color: #212121;
    color: white;
}